*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(to right, rgb(39, 145, 25),rgb(157, 255, 0),yellow);
}
h3{
    align-content: center;
}
#date{
    padding: 20px 20px;
    background: none;
    border: none;
}
#date_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px ;
}
#cal_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#calculate{
    margin-top: 30px;
    padding: 20px 50px;
    border-radius: 8px;
    background-color: blueviolet;
    font-size: large;
    font: bolder;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    border: none;
}
#calculate :hover{
    cursor: pointer;
    background: linear-gradient(90deg,rgb(124, 0, 239),rgb(191, 16, 191),rgb(183, 36, 166),white);
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font: bolder;
    
}
#result_box{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 50px;
    padding: 50px 40px;
}