*{
    padding: 0;
    margin: 0;
}
#date{
    padding: 20px 20px;
    
}
#date_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px ;
}
#cal_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#calculate{
    margin-top: 30px;
    padding: 20px 50px;
    border-radius: 2px;
    background-color: blueviolet;
    font-size: large;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    border: none;
}
#calculate :hover{
    cursor: pointer;
    background: linear-gradient(90deg,rgb(124, 0, 239),rgb(191, 16, 191),rgb(183, 36, 166),white);
}
p{
    display: block;
    justify-content: center;
    align-self: center;
    
}